*
!*/
!*.go
!*.mod
!*.sum
!*.md
!*.txt
!*.yaml
!*.yml
!*.json
!*.toml
!*.html
!*.css
!*.js
!*.proto
!*.sh
!Makefile
!LICENSE
!*.gitignore
!.github/
!cmd/
!internal/
!pkg/
!api/
!test/
!scripts/
!docs/
!configs/
.idea